/* Put your CSS here */
html, body {
    margin: 20px;
},

.S1, .S2, .S3 {
  margin: 10px 0;
},

h3.a.big-title {
	text-align: center;
},

.column {
	width: 620px;
	margin: 10px;
	float: #columnContainer { 
	width: 0 auto;
},

.hide {
	display: none;
}